* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
}

.header {
  text-align: center;
  min-width: 600px;
  padding-top: 16px;
  margin: auto;
}

.homepage {

}

.title {
  font-size: 36px;
  letter-spacing: 4px;
  text-decoration: none;
  color: #2a2a2a;
}

.navigation {
  padding-top: 12px;

}

.navigation a {
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
  color: #2a2a2a;
}

.navigation a:link {
  
}

.navigation a:visited {
  
}

.navigation a:hover {
  color: #6a6a6a;
}

.navigation a.active {   /* not the CSS active */
  color: #267326;
  text-shadow: 1px 1px #d9f2d9;
}

.container {

}

.content-wrapper {
  margin-top: 64px;
  /*changing the height moves the nav bar for some reason*/
}

.slideshow {
  width: 600px;
  position: relative;
  margin: auto;
}

.slide-img {
  display: block;
  width: 100%;
}

.gallery {
  width: 600px;
  position: relative;
  margin: auto;
  /*something about the gallery is moving the nav bar too */
}

.gallery-main {
  
}

.gallery-images {

}

.gallery-img {
  display: block;
  width: 100%;
}

.gallery-nav {

}

.footer {
  bottom: 0;
}

.footer-left {
  width: 80%;
  margin: auto;
}