/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER
	3. =GALLERY
	4. =GALLERY NAVIGATION
	5. =ARCHIVE
	6. =PRESS
	7. =ABOUT
	8. =FOOTER
  9. =MOBILE
*/

/* COLORS
  - default body text  #737373
  - header text        #4040bf
  - navigation text    #8c8c8c
  - active navigation  #00a3cc
  - hover text         #80e0ff
  - navigation buttons #999999
*/

/* === GLOBAL === */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 0;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4040bf;
}

h3 {
  color: #4040bf;
  margin-bottom: 0px;
  font-weight: 500;
}

p {
  color: #737373;
}

/* === HEADER === */

.header {
  text-align: center;
  min-width: 300px;
  margin: auto;
  margin-top: 64px;
}

.title {
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 5px;
  text-decoration: none;
  color: #4040bf;
}

.navigation {
  padding-top: 32px;
}

.navigation a {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #8c8c8c;
}

.navigation a:hover {
  color: #80e0ff;
}

.navigation a.active {   /* not the CSS active */
  color: #00a3cc;
  text-shadow: 1px 1px #80e0ff;
}

a b {
  color: #00a3cc;
}

/* === FRONT PAGE ===*/

.banner {
  display: block;
  max-width: 800px;
  margin: auto;
}

.banner:after {
  content:  "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 8px 8px 0 8px;
}

.banner.front {
  margin-bottom: 64px;
  border: 2px solid #8c8c8c;
}

.banner.front h2,
.banner.front h3,
.banner.front p {
  margin-top: 1px;
}

.banner.front h2 {
  font-weight: bold;
  font-family: Tahoma;
}

.banner.front h3 {
  color: #737373;
}

.banner.front img {
  margin-left: -120px;
  max-width: 400px;
}

.banner.exhibition {
  max-width: 1080px;
}

.banner.exhibition.description {
  margin-bottom: 28px;
  padding: 0 8px;
}

.banner.exhibition.description p:first-child {
  margin-bottom: 0;
}

.banner.exhibition img {
  max-width: 400px;
}

.banner.exhibition a {
  text-decoration: none;
  line-height: 1.5;
  color: #4040bf;
}

.banner.exhibition a:link {
  color: #4040bf;
}

.banner.exhibition a:visited {
  color: #4040bf;
}

.banner.exhibition a:hover {
  color: #80e0ff;
}

.column.exhibition {
  width: 65%;
}

.column.right {
  text-align: right;
  width:  35%;
}

/* === GALLERY === */

.content-wrapper {
  margin-top: 72px;
  min-width: 360px;
  min-height: 1080px;
}

.slideshow {
  height: 800px;
  position: relative;
  margin: auto;
}

.slide-img {
  display: block;
  height: 100%;
  margin: auto;
  /*max-height: 400px;*/
}

.gallery {
  width: 1080px;
  min-width: 360px;
  min-height: 1080px;
  position: relative;
  margin: auto;
}

.gallery-main {
  width: 1080px;
  min-width: 360px;
  height: 740px;
  position: relative;
  margin: auto;
}

.gallery-img {
  display: block;
  max-width: 1080px;
  height: 100%;
  /*max-height: 400px;*/
  margin: auto;
}

.slide-img.wide,
.gallery-img.wide {
  height: 85%;
  /*max-height: 264px;*/
}

.gallery-description {
  text-align: center;
  line-height: 140%;
  padding: 10% 6% 0 6%;
  border-style: solid;
  border-width: 4px;
  border-color: #e6e6e6;
  background-color: #fbfbfb;
}

.gallery-description img {
  display: block;
  height: 250px;
  margin: auto;
}

/* === GALLERY NAVIGATION === */

.prev-img, .next-img {
  /*width: 440px;
  height: 740px;
  cursor: ew-resize;
  position: absolute;
  z-index: 2;*/
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 33%;
  padding: 0 12px;
  color: #999999;
  user-select: none;
  z-index: 2;
}

.prev-img {
  left: 0;
}

.next-img {
  right: 0;
}

.archive-modal .prev-img,
.archive-modal .next-img {
  /*width: 50%;
  height: 33%;*/
  margin-top: 16px;
}

.archive-modal .prev-img {
  margin-left: 15%;
}

.archive-modal .next-img {
  margin-right: 15%;
}

.gallery-info {
  position: relative;
  margin: 16px auto;
}

.info {
  font-size: .85em;
  line-height: 1.4;
  text-align: center;
  color: #737373;
}

.gallery-nav {
  height: 140px;
  width: 742px;
  margin: auto;
  margin-top: 32px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gallery-icon {
  cursor: pointer;
  height: 120px;
  width: 120px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  display: inline-block;
}

.gallery-buttons {
  height: auto;
}

.prev-button, .next-button {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 0 12px;
  color: #999999;
  user-select: none;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover, .next-button:hover,
.prev-img:hover, .next-img:hover {
  color: #00a3cc;
}

.gallery-buttons .prev-button,
.gallery-buttons .next-button{
  margin-top: 40px;
}

.highlight {
  border-color: #cccccc;
}

/* === ARCHIVE === */

.archive-wrapper {
  max-width: 964px;
  padding-bottom: 32px;
  margin: auto;
  margin-top: 64px;
}

.tab {
  margin: auto;
  margin-bottom: 24px;
  width: 50%;
  text-align: center;
}

.tab a {
  cursor: pointer;
  padding: 14px 16px;
  font-size: 24px;
  color: #4040bf;
  text-transform: uppercase;
}

.tab a:hover {
  color: #80e0ff;
}

.tab a.active {
  color: #00a3cc;
  text-shadow: 1px 1px #80e0ff;
}

.archive-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 32px;
  margin-bottom: 32px;
  width: 100%;
}

.archive-grid video {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
}

.archive-img {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
}

.archive-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 900px;
  height: 740px;
}

.modal-img {
  display: none;
  position: relative;
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
  height: 100%;
}

.wide {
  height: auto;
}

.modal-close {
  color: #cccccc;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
}

.modal-close:hover, .modal-close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

/* unused */
.publications-wrapper {
  max-width: 1080px;
  min-height: 1080px;
  margin: auto;
}

/* === PRESS === */

.collapsible {
  cursor: pointer;
}

a.collapsible.active {
  color: #00a3cc;
}

.collapsible-content {
  padding: 4px 12px;
  display: none;
  background-color: #f1f1f1;
}

.collapsible-content p {
  display: inline-block;
}

.collapsible-content img {
  float: right;
  margin-left: 12px;
  max-width: 250px;
  max-height: 250px;
}

.catalogue-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 32px;
  margin: 42px 32px;
}

.catalogue-item {
  margin: auto;
}

.catalogue-item a:hover {
  opacity: 0.7;
}

.catalogue-item p {
  text-align: center;
  line-height: 1.4;
}

.catalogue {
  width: 250px;
  height: 300px;
  margin: auto;
}

/* === ABOUT === */

.about-wrapper {
  max-width: 1080px;
  padding: 0px 32px 32px 32px;
  margin: auto;
}

.about-wrapper a {
  text-decoration: none;
  line-height: 1.5;
  color: #737373;
}

.about-wrapper a:link {
  color: #737373;
}

.about-wrapper a:visited {
  color: #737373;
}

.about-wrapper a:hover {
  color: #80e0ff;
}

#cv {
  text-decoration: none;
  color: #4040bf;
}

#cv:hover {
  color: #80e0ff;
}

.about-img {
  max-height: 480px;
  max-width: 540px;
  margin: 0px 0px 28px 28px;
  float: right;
}

/* === FOOTER === */

.footer {
  bottom: 0;
  margin-top: 32px;
}

.footer-left {
  width: 80%;
  margin: auto;
}

/* === MOBILE ===*/

@media screen and (max-width: 1000px) {

  .archive-grid,
  .catalogue-wrapper {
    grid-template-columns: auto auto;
  }

  .modal-content,
  .modal-img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 800px) {

  .title {
    font-size: 2.0em;
  }

  .navigation a {
    display: inline-block;
    padding-bottom: 8px;
    letter-spacing: 1px;
  }

  .column,
  .column.exhibition,
  .column.right {
    width: 100%;
    padding: 16px 16px 0 16px;
  }

  .column.right {
    text-align: left;
  }

  .banner.front img {
    max-width: 80%;
    margin-left: 0;
    padding: 0 0 16px 0;
  }

  .banner.exhibition img {
    max-width: 80%;
    padding: 0 0 16px 0;
  }

  .content-wrapper,
  .slideshow,
  .gallery,
  .gallery-main {
    margin: auto;
    max-width: 100%;
    max-height: 400px;
    min-width: 0;
    min-height: 0;
    height: auto;
  }

  .slide-img,
  .gallery-img {
    max-height: 400px;
    max-width: 100%;
    height: auto;
  }

  .prev-img,
  .next-img {
    padding: 20px;
  }

  .archive-modal .prev-img,
  .archive-modal .next-img {
    margin-top: 0;
  }

  .gallery .prev-img,
  .gallery .next-img {
    /*width: 50%;*/
    margin: auto;
    padding: 0 24px 100% 24px;
  }

  .gallery-nav {
    width: 100%;
    overflow-x: scroll;
  }

  .archive-grid,
  .catalogue-wrapper {
    grid-template-columns: auto;
  }

  .catalogue {
    width: 200px;
    height: 250px;
  }

  .about-img {
    float: none;
    margin: auto;
    margin-top: 16px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    max-width: 420px;
  }

  .footer-left {
    display: none;
  }

}